$primary-color: #2B3492;
$secondary-color: #FCB514;

.generic-input {
  width: 300px;
  background-color: whitesmoke;
  padding: 5px;
  font-size: 15px;
  border: 0 solid black;
  border-radius: 3px;
  outline-width: 5px;
}